.header__lang {
  margin-left: 18px;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.2;
  text-decoration: none;
  color: #fff;
  align-self: center;
  text-decoration: none;
}

.header__lang:hover {
  opacity: 80%;
}

@media screen and (max-width: 767px) {
  .header__lang {
    font-size: 1.1rem;
  }
}