.cover__subtitle {
  z-index: 1;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  width: 360px;
  text-align: center;
  margin: 0 0 auto 0;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    width: 288px;
    font-size: 14px;
    line-height: 1.1;
    margin: 0 0 auto 0;
  }
}