.cover__subtitle {
  font-size: 1.1rem;
  font-weight: normal;
  width: 360px;
  text-align: center;
  margin: 32px auto 0;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    width: 288px;
    font-size: 1rem;
    line-height: 1.1;
    margin: 16px auto 0;
  }
}