.place__paragraph {
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  width: 100%;
}

.place__paragraph:first-of-type {
  margin-bottom: 26px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
  font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 1rem;
    margin: 0 16px;
  }
}