.footer__copyright {
  text-align: end;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  line-height: 1.1;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin: 48px 0 0 0;
    text-align: start;
  }
}