.cover__title {
  z-index: 1;
  font-size: 72px;
  line-height: 1.1;
  font-weight: 900;
  width: 560px;
  text-align: center;
  margin: auto 0 32px 0;
}

@media screen and (max-width: 767px) {
  .cover__title {
    width: 230px;
    font-size: 32px;
    margin: auto 0 16px 0;
  }
}