.place {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: 2 ;
  grid-template-areas:
  "title website"
  "image text";
  margin-top: 80px;
}

.place:first-of-type {
  margin-top: 0;
}